[submodule "packages/style-guide"]
	path = packages/style-guide
	url = https://gitlab.com/mpapp-public/manuscripts-style-guide
	branch = quarterback-integration

[submodule "packages/manuscript-editor"]
	path = packages/manuscript-editor
	url = https://gitlab.com/mpapp-public/manuscripts-manuscript-editor
	branch = quarterback-integration

[submodule "packages/manuscript-transform"]
	path = packages/manuscript-transform
	url = https://gitlab.com/mpapp-public/manuscripts-manuscript-transform
	branch = quarterback-integration
