[submodule "packages/manuscript-editor"]
	path = packages/manuscript-editor
	url = https://gitlab.com/mpapp-public/manuscripts-manuscript-editor.git
	branch = quarterback-integration
[submodule "packages/style-guide"]
	path = packages/style-guide
	url = https://gitlab.com/mpapp-public/manuscripts-style-guide.git
	branch = quarterback-integration
