.ProseMirror {
  min-height: 140px;
  overflow-wrap: break-word;
  outline: none;
  padding: 10px;
  white-space: pre-wrap;
  max-width: 600px;
  width: 100%;
}
.ProseMirror img {
  width: -webkit-fill-available;
}

.ProseMirror mark {
  background-color: rgba(250, 224, 150, 0.6);
}
.ProseMirror mark:focus {
  background-color: rgb(255 192 13);
}
